:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

html,
body,
input,
textarea,
button {
  font-size: 1.6rem;

  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  height: 100%;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;

  background-color: #f5f7fa;
}

aside {
  width: 25rem;
  height: 100%;

  background-color: #ffffff;
}

aside .close {
  background: transparent;
  border: 0;

  display: none;
  justify-content: end;

  cursor: pointer;
}

aside .close i {
  font-size: 2.4rem;

  color: #1fcb4f;
}

aside .logo {
  padding: 3.2rem;

  display: flex;
  align-items: center;
  gap: 0.8rem;
}

aside .logo img {
  width: 3.6rem;
  height: 3.6rem;
}

aside .logo h4 {
  color: var(--Primary-2, #343c6a);

  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

aside ul {
  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

aside ul li {
  display: flex;
  align-items: center;
}

aside ul li.active::before {
  content: "";

  width: 0.6rem;
  height: 4rem;

  position: absolute;

  left: 0;

  background-color: var(--Primary-3, #2d60ff);

  border-top-right-radius: 0.42rem;
  border-bottom-right-radius: 0.42rem;
}

aside ul li a {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  color: #b1b1b1;

  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

aside ul li.active a {
  color: var(--Primary-3, #2d60ff);
}

aside ul li a i {
  color: #b1b1b1;

  font-size: 2.4rem;
}

aside ul li.active a i {
  color: var(--Primary-3, #2d60ff);
}

main {
  width: 100%;
}

main header {
  width: 100%;
  height: 10rem;

  padding: 0 3.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
}

main header .header-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

main header .header-container .open-sidebar {
  display: none;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  outline: 0;
  border: 0;
}

main header .header-container .open-sidebar i {
  color: var(--Primary-2, #343c6a);

  font-size: 3.2rem;
}

main header .header-container h2 {
  color: var(--Primary-2, #343c6a);

  font-size: 2.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

main header .info {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

main header .info .input-icon {
  width: 25rem;

  padding: 1.2rem 0;

  background-color: #f5f7fa;

  border-radius: 4rem;

  position: relative;
}

main header .info .input-icon i {
  color: #718ebf;

  font-size: 2rem;

  position: absolute;

  left: 1.2rem;
}

main header .info .input-icon input {
  width: 100%;

  padding-left: 3.6rem;
  padding-right: 1.2rem;

  background-color: transparent;

  outline: 0;
  border: 0;
}

main header .info .button-icon {
  width: 5rem;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f5f7fa;

  outline: 0;
  border: 0;
  border-radius: 2.5rem;
}

main header .info .button-icon i {
  font-size: 2.4rem;
}

main header .info .button-icon.settings i {
  color: #718ebf;
}

main header .info .button-icon.notifications i {
  color: #fe5c73;
}

main header .info .avatar {
  width: 5rem;
  height: 5rem;

  border-radius: 2.5rem;
}

main .container {
  padding: 2rem 3.2rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

main .container .cards-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main .container .cards-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .container .cards-container .header h4 {
  color: #343c6a;

  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

main .container .cards-container .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .container .cards-container .cards .card {
  padding: 2.6rem;

  border-radius: 2.5rem;
}

main .container .cards-container .cards .card.blue {
  background: linear-gradient(107deg, #2d60ff 2.61%, #539bff 101.2%);
}

main .container .cards-container .cards .card.purple {
  background: linear-gradient(107deg, #4c49ed 2.61%, #0a06f4 101.2%);
}

main .container .cards-container .cards .card.white {
  background-color: #ffffff;

  border: 0.1rem solid #dfeaf2;
}

main .container .cards-container .cards .card .card-top {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

main .container .cards-container .cards .card .card-top div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main .container .cards-container .cards .card .card-top div .text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

main .container .cards-container .cards .card .card-top div .text .title {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .container .cards-container .cards .card.blue .card-top div .text .title,
main
  .container
  .cards-container
  .cards
  .card.purple
  .card-top
  div
  .text
  .title {
  color: rgba(255, 255, 255, 0.7);
}

main .container .cards-container .cards .card.white .card-top div .text .title {
  color: #718ebf;
}

main .container .cards-container .cards .card .card-top div .text .value {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

main .container .cards-container .cards .card.blue .card-top div .text .value,
main
  .container
  .cards-container
  .cards
  .card.purple
  .card-top
  div
  .text
  .value {
  color: #ffffff;
}

main .container .cards-container .cards .card.white .card-top div .text .value {
  color: #343c6a;
}

main .container .cards-container .cards .card .card-top div img {
  width: 3.4rem;
  height: 3.4rem;
}

main .container .cards-container .cards .card .card-bottom {
  padding-top: 2.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .container .cards-container .cards .card .card-bottom span {
  font-family: "Lato", sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

main .container .cards-container .cards .card.blue .card-bottom span,
main .container .cards-container .cards .card.purple .card-bottom span {
  color: #ffffff;
}

main .container .cards-container .cards .card.white .card-bottom span {
  color: #343c6a;
}

main .container .cards-container .cards .card .card-bottom img {
  width: 4.4rem;
  height: 3rem;
}

main .container .card-expense-statistics-and-card-list {
  display: grid;
  grid-template-columns: 35rem 1fr;
  gap: 2.4rem;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-expense-statistics {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-expense-statistics
  .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-expense-statistics
  .header
  h4 {
  color: #343c6a;

  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-expense-statistics
  .card-expense-statistics-container {
  height: 36rem;

  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;

  background-color: #ffffff;

  border-radius: 2.5rem;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-expense-statistics
  .card-expense-statistics-container
  #chart-card-expense-statistics {
  max-width: 100%;
  max-height: 70%;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-expense-statistics
  .card-expense-statistics-container
  .card-expense-statistics-label {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  row-gap: 1.6rem;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-expense-statistics
  .card-expense-statistics-container
  .card-expense-statistics-label
  label {
  display: flex;
  align-items: center;

  position: relative;

  color: #718ebf;

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-expense-statistics
  .card-expense-statistics-container
  .card-expense-statistics-label
  label.dbl-bank::before {
  content: "";

  width: 1.6rem;
  height: 1.6rem;

  position: absolute;

  left: -2.4rem;

  border-radius: 0.8rem;

  background-color: #4c78ff;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-expense-statistics
  .card-expense-statistics-container
  .card-expense-statistics-label
  label.brc-bank::before {
  content: "";

  width: 1.6rem;
  height: 1.6rem;

  position: absolute;

  left: -2.4rem;

  border-radius: 0.8rem;

  background-color: #ff82ac;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-expense-statistics
  .card-expense-statistics-container
  .card-expense-statistics-label
  label.abm-bank::before {
  content: "";

  width: 1.6rem;
  height: 1.6rem;

  position: absolute;

  left: -2.4rem;

  border-radius: 0.8rem;

  background-color: #16dbcc;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-expense-statistics
  .card-expense-statistics-container
  .card-expense-statistics-label
  label.mcp-bank::before {
  content: "";

  width: 1.6rem;
  height: 1.6rem;

  position: absolute;

  left: -2.4rem;

  border-radius: 0.8rem;

  background-color: #ffbb38;
}

main .container .card-expense-statistics-and-card-list .card-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main .container .card-expense-statistics-and-card-list .card-list .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .container .card-expense-statistics-and-card-list .card-list .header h4 {
  color: #343c6a;

  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container {
  height: 36rem;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data {
  padding: 2.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;

  border-radius: 2.5rem;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data
  .card-list-data-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data
  .card-list-data-info
  .icon {
  width: 6rem;
  height: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2rem;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data
  .card-list-data-info
  .icon.blue {
  background-color: #e7edff;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data
  .card-list-data-info
  .icon.red {
  background-color: #ffe0eb;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data
  .card-list-data-info
  .icon.yellow {
  background-color: #fff5d9;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data
  .card-list-data-info
  .icon
  i {
  font-size: 2.4rem;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data
  .card-list-data-info
  .icon.blue
  i {
  color: #4471ff;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data
  .card-list-data-info
  .icon.red
  i {
  color: #ff82ac;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data
  .card-list-data-info
  .icon.yellow
  i {
  color: #ffbb38;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data
  .card-list-data-info
  .card-list-data-info-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data
  .card-list-data-info
  .card-list-data-info-container
  .name {
  color: #232323;

  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data
  .card-list-data-info
  .card-list-data-info-container
  .type {
  color: #718ebf;

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data
  .card-list-data-info-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data
  .card-list-data-info-container
  .value {
  color: #232323;

  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data
  .card-list-data-info-container
  .type {
  color: #718ebf;

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main
  .container
  .card-expense-statistics-and-card-list
  .card-list
  .card-list-container
  .card-list-data
  a {
  color: #1814f3;

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main .container .add-new-card-and-card-setting {
  display: grid;
  grid-template-columns: 1fr 35rem;
  gap: 2.4rem;
}

main .container .add-new-card-and-card-setting .add-new-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main .container .add-new-card-and-card-setting .add-new-card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .container .add-new-card-and-card-setting .add-new-card .header h4 {
  color: #343c6a;

  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

main
  .container
  .add-new-card-and-card-setting
  .add-new-card
  .add-new-card-container {
  height: 100%;

  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  background-color: #ffffff;

  border-radius: 2.5rem;
}

main
  .container
  .add-new-card-and-card-setting
  .add-new-card
  .add-new-card-container
  p {
  color: #718ebf;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main
  .container
  .add-new-card-and-card-setting
  .add-new-card
  .add-new-card-container
  .add-new-card-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 1.6rem;
}

main
  .container
  .add-new-card-and-card-setting
  .add-new-card
  .add-new-card-container
  .add-new-card-info-container
  .add-new-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

main
  .container
  .add-new-card-and-card-setting
  .add-new-card
  .add-new-card-container
  .add-new-card-info-container
  .add-new-card-info
  .title {
  color: #232323;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main
  .container
  .add-new-card-and-card-setting
  .add-new-card
  .add-new-card-container
  .add-new-card-info-container
  .add-new-card-info
  .value {
  color: #718ebf;

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main
  .container
  .add-new-card-and-card-setting
  .add-new-card
  .add-new-card-container
  button {
  width: 16rem;

  padding: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1814f3;
  color: #ffffff;

  outline: 0;
  border: 0;
  border-radius: 0.8rem;

  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main .container .add-new-card-and-card-setting .card-setting {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main .container .add-new-card-and-card-setting .card-setting .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .container .add-new-card-and-card-setting .card-setting .header h4 {
  color: #343c6a;

  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

main
  .container
  .add-new-card-and-card-setting
  .card-setting
  .card-setting-container {
  height: 100%;

  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  background-color: #ffffff;

  border-radius: 2.5rem;
}

main
  .container
  .add-new-card-and-card-setting
  .card-setting
  .card-setting-container
  .card-setting-data {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

main
  .container
  .add-new-card-and-card-setting
  .card-setting
  .card-setting-container
  .card-setting-data
  .icon {
  width: 6rem;
  height: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2rem;
}

main
  .container
  .add-new-card-and-card-setting
  .card-setting
  .card-setting-container
  .card-setting-data
  .icon.yellow {
  background-color: #fff5d9;
}

main
  .container
  .add-new-card-and-card-setting
  .card-setting
  .card-setting-container
  .card-setting-data
  .icon.blue {
  background-color: #e7edff;
}

main
  .container
  .add-new-card-and-card-setting
  .card-setting
  .card-setting-container
  .card-setting-data
  .icon.red {
  background-color: #ffe0eb;
}

main
  .container
  .add-new-card-and-card-setting
  .card-setting
  .card-setting-container
  .card-setting-data
  .icon.green {
  background-color: #dcfaf8;
}

main
  .container
  .add-new-card-and-card-setting
  .card-setting
  .card-setting-container
  .card-setting-data
  .icon
  i {
  font-size: 2.4rem;
}

main
  .container
  .add-new-card-and-card-setting
  .card-setting
  .card-setting-container
  .card-setting-data
  .icon.yellow
  i {
  color: #ffbb38;
}

main
  .container
  .add-new-card-and-card-setting
  .card-setting
  .card-setting-container
  .card-setting-data
  .icon.blue
  i {
  color: #396aff;
}

main
  .container
  .add-new-card-and-card-setting
  .card-setting
  .card-setting-container
  .card-setting-data
  .icon.red
  i {
  color: #ff82ac;
}

main
  .container
  .add-new-card-and-card-setting
  .card-setting
  .card-setting-container
  .card-setting-data
  .icon.green
  i {
  color: #16dbcc;
}

main
  .container
  .add-new-card-and-card-setting
  .card-setting
  .card-setting-container
  .card-setting-data
  .card-setting-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

main
  .container
  .add-new-card-and-card-setting
  .card-setting
  .card-setting-container
  .card-setting-data
  .card-setting-info
  .name {
  color: #232323;

  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main
  .container
  .add-new-card-and-card-setting
  .card-setting
  .card-setting-container
  .card-setting-data
  .card-setting-info
  .value {
  color: #718ebf;

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1024px) {
  body {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  aside {
    display: none;

    position: fixed;

    margin-left: -100vw;

    animation-duration: 500ms;
  }

  aside .close {
    display: flex;

    width: 100%;

    padding-top: 1rem;
    padding-right: 2rem;
  }

  aside .close i {
    display: block;
  }

  main header .header-container .open-sidebar {
    display: flex;
  }
}

@media screen and (max-width: 924px) {
  main .container .cards-container .cards {
    grid-template-columns: 1fr;
  }

  main .container .card-expense-statistics-and-card-list {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }

  main .container .add-new-card-and-card-setting {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }

  main
    .container
    .card-expense-statistics-and-card-list
    .card-expense-statistics
    .card-expense-statistics-container {
    height: 100%;
  }

  main
    .container
    .card-expense-statistics-and-card-list
    .card-list
    .card-list-container {
    height: 100%;
  }
}

@media screen and (max-width: 640px) {
  main header .info .input-icon,
  main header .info .settings,
  main header .info .notifications {
    display: none;
  }

  main
    .container
    .add-new-card-and-card-setting
    .add-new-card
    .add-new-card-container
    .add-new-card-info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 1.6rem;
  }

  main
    .container
    .card-expense-statistics-and-card-list
    .card-list
    .card-list-container
    .card-list-data
    .card-list-data-info-container:nth-child(2),
  main
    .container
    .card-expense-statistics-and-card-list
    .card-list
    .card-list-container
    .card-list-data
    .card-list-data-info-container:nth-child(3) {
    display: none;
  }

  main
    .container
    .add-new-card-and-card-setting
    .add-new-card
    .add-new-card-container
    button {
    width: 100%;
  }
}

@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: -0vw;
  }
}
